<!-- COVERS responsible Yurii Nabasov -->

<section class="section">
  <div class="covers-section">
    <div class="container">
      <!-- Прихований заголовок для краулерів -->
      <h2 class="cover-section-title visually-hidden">Covers</h2>
    </div>

    <!-- Основний блок секції -->
    <ul class="marquee">
      <!-- Перша лінія прокрутки -->
      <li>
        <ul class="marquee-list">
          <li class="marquee-item">
            <picture>
              <source
                srcset="
                  ./img/projects_webp/projects_1_2x.webp 2x,
                  ./img/projects_webp/projects_1_1x.webp 1x
                "
                media="(min-resolution: 192dpi)"
              />
              <img
                src="./img/projects_webp/projects_1_1x.webp"
                alt="Project 1"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="marquee-item">
            <picture>
              <source
                srcset="
                  ./img/projects_webp/projects_10_2x.webp 2x,
                  ./img/projects_webp/projects_10_1x.webp 1x
                "
                media="(min-resolution: 192dpi)"
              />
              <img
                src="./img/projects_webp/projects_10_1x.webp"
                alt="Project 10"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="marquee-item">
            <picture>
              <source
                srcset="
                  ./img/projects_webp/projects_6_2x.webp 2x,
                  ./img/projects_webp/projects_6_1x.webp 1x
                "
                media="(min-resolution: 192dpi)"
              />
              <img
                src="./img/projects_webp/projects_6_1x.webp"
                alt="Project 6"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="marquee-item">
            <picture>
              <source
                srcset="
                  ./img/projects_webp/projects_8_2x.webp 2x,
                  ./img/projects_webp/projects_8_1x.webp 1x
                "
                media="(min-resolution: 192dpi)"
              />
              <img
                src="./img/projects_webp/projects_8_1x.webp"
                alt="Project 8"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="marquee-item">
            <picture>
              <source
                srcset="
                  ./img/projects_webp/projects_7_2x.webp 2x,
                  ./img/projects_webp/projects_7_1x.webp 1x
                "
                media="(min-resolution: 192dpi)"
              />
              <img
                src="./img/projects_webp/projects_7_1x.webp"
                alt="Project 7"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
        </ul>
      </li>

      <!-- Друга лінія прокрутки -->
      <li>
        <ul class="marquee-list">
          <li class="marquee-item">
            <picture>
              <source
                srcset="
                  ./img/projects_webp/projects_10_2x.webp 2x,
                  ./img/projects_webp/projects_10_1x.webp 1x
                "
                media="(min-resolution: 192dpi)"
              />
              <img
                src="./img/projects_webp/projects_10_1x.webp"
                alt="Project 10"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="marquee-item">
            <picture>
              <source
                srcset="
                  ./img/projects_webp/projects_1_2x.webp 2x,
                  ./img/projects_webp/projects_1_1x.webp 1x
                "
                media="(min-resolution: 192dpi)"
              />
              <img
                src="./img/projects_webp/projects_1_1x.webp"
                alt="Project 1"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="marquee-item">
            <picture>
              <source
                srcset="
                  ./img/projects_webp/projects_2_2x.webp 2x,
                  ./img/projects_webp/projects_2_1x.webp 1x
                "
                media="(min-resolution: 192dpi)"
              />
              <img
                src="./img/projects_webp/projects_2_1x.webp"
                alt="Project 2"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="marquee-item">
            <picture>
              <source
                srcset="
                  ./img/projects_webp/projects_3_2x.webp 2x,
                  ./img/projects_webp/projects_3_1x.webp 1x
                "
                media="(min-resolution: 192dpi)"
              />
              <img
                src="./img/projects_webp/projects_3_1x.webp"
                alt="Project 3"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="marquee-item">
            <picture>
              <source
                srcset="
                  ./img/projects_webp/projects_4_2x.webp 2x,
                  ./img/projects_webp/projects_4_1x.webp 1x
                "
                media="(min-resolution: 192dpi)"
              />
              <img
                src="./img/projects_webp/projects_4_1x.webp"
                alt="Project 4"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
        </ul>
      </li>

      <!-- Третя лінія прокрутки -->
      <li>
        <ul class="marquee-list">
          <li class="marquee-item">
            <picture>
              <source
                srcset="
                  ./img/projects_webp/projects_5_2x.webp 2x,
                  ./img/projects_webp/projects_5_1x.webp 1x
                "
                media="(min-resolution: 192dpi)"
              />
              <img
                src="./img/projects_webp/projects_5_1x.webp"
                alt="Project 5"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="marquee-item">
            <picture>
              <source
                srcset="
                  ./img/projects_webp/projects_9_2x.webp 2x,
                  ./img/projects_webp/projects_9_1x.webp 1x
                "
                media="(min-resolution: 192dpi)"
              />
              <img
                src="./img/projects_webp/projects_9_1x.webp"
                alt="Project 9"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="marquee-item">
            <picture>
              <source
                srcset="
                  ./img/projects_webp/projects_3_2x.webp 2x,
                  ./img/projects_webp/projects_3_1x.webp 1x
                "
                media="(min-resolution: 192dpi)"
              />
              <img
                src="./img/projects_webp/projects_3_1x.webp"
                alt="Project 3"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="marquee-item">
            <picture>
              <source
                srcset="
                  ./img/projects_webp/projects_7_2x.webp 2x,
                  ./img/projects_webp/projects_7_1x.webp 1x
                "
                media="(min-resolution: 192dpi)"
              />
              <img
                src="./img/projects_webp/projects_7_1x.webp"
                alt="Project 7"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="marquee-item">
            <picture>
              <source
                srcset="
                  ./img/projects_webp/projects_8_2x.webp 2x,
                  ./img/projects_webp/projects_8_1x.webp 1x
                "
                media="(min-resolution: 192dpi)"
              />
              <img
                src="./img/projects_webp/projects_8_1x.webp"
                alt="Project 8"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
        </ul>
      </li>

      <!-- Четверта лінія прокрутки -->
      <li>
        <ul class="marquee-list">
          <li class="marquee-item">
            <picture>
              <source
                srcset="
                  ./img/projects_webp/projects_4_2x.webp 2x,
                  ./img/projects_webp/projects_4_1x.webp 1x
                "
                media="(min-resolution: 192dpi)"
              />
              <img
                src="./img/projects_webp/projects_4_1x.webp"
                alt="Project 4"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="marquee-item">
            <picture>
              <source
                srcset="
                  ./img/projects_webp/projects_7_2x.webp 2x,
                  ./img/projects_webp/projects_7_1x.webp 1x
                "
                media="(min-resolution: 192dpi)"
              />
              <img
                src="./img/projects_webp/projects_7_1x.webp"
                alt="Project 7"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="marquee-item">
            <picture>
              <source
                srcset="
                  ./img/projects_webp/projects_8_2x.webp 2x,
                  ./img/projects_webp/projects_8_1x.webp 1x
                "
                media="(min-resolution: 192dpi)"
              />
              <img
                src="./img/projects_webp/projects_8_1x.webp"
                alt="Project 8"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="marquee-item">
            <picture>
              <source
                srcset="
                  ./img/projects_webp/projects_10_2x.webp 2x,
                  ./img/projects_webp/projects_10_1x.webp 1x
                "
                media="(min-resolution: 192dpi)"
              />
              <img
                src="./img/projects_webp/projects_10_1x.webp"
                alt="Project 10"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
        </ul>
      </li>

      <!-- П'ята лінія прокрутки -->
      <li>
        <ul class="marquee-list">
          <li class="marquee-item">
            <picture>
              <source
                srcset="
                  ./img/projects_webp/projects_9_2x.webp 2x,
                  ./img/projects_webp/projects_9_1x.webp 1x
                "
                media="(min-resolution: 192dpi)"
              />
              <img
                src="./img/projects_webp/projects_9_1x.webp"
                alt="Project 9"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="marquee-item">
            <picture>
              <source
                srcset="
                  ./img/projects_webp/projects_1_2x.webp 2x,
                  ./img/projects_webp/projects_1_1x.webp 1x
                "
                media="(min-resolution: 192dpi)"
              />
              <img
                src="./img/projects_webp/projects_1_1x.webp"
                alt="Project 1"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
          <li class="marquee-item">
            <picture>
              <source
                srcset="
                  ./img/projects_webp/projects_2_2x.webp 2x,
                  ./img/projects_webp/projects_2_1x.webp 1x
                "
                media="(min-resolution: 192dpi)"
              />
              <img
                src="./img/projects_webp/projects_2_1x.webp"
                alt="Project 2"
                loading="lazy"
                decoding="async"
              />
            </picture>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>

<!-- /COVERS responsible Yurii Nabasov -->
