<section class="section reviews">
    <div class="container">
      <h2 class="reviews-title">Reviews</h2>
      
      <div class="reviews-slider swiper">
        <div class="reviews-error visually-hidden">
          <p class="reviews-error-text">Not found</p>
        </div>
  
        <ul class="reviews-list swiper-wrapper">
        </ul>
  
        <div class="reviews-nav">
          <button class="reviews-button-prev" type="button" aria-label="Previous review">
            <svg class="icon-arrow-left" width="52" height="52">
              <use href="./img/sprite.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button class="reviews-button-next" type="button" aria-label="Next review">
            <svg class="icon-arrow-right" width="52" height="52">
              <use href="./img/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </section>